@import '/src/variables.module.scss';

.special-offers{
    background-color: $color-main;
    padding: 10px 0;    
    text-align: center;
}

.container{
    position: relative;
    width: 650px;
    margin: auto;
    padding-bottom: 10px;
    
}

.img-style-one{
    position: absolute;
    top: 0;
    left: -170px;
    opacity: 0.7;
    width: 140px;
	filter: drop-shadow(0 0 6px #aaaaaa);


}
.img-style-two{
    position: absolute;
    bottom: 0;
    right: -160px;
    opacity: 0.7;
    width: 120px;
    filter: drop-shadow(0 0 6px #aaaaaa);


}

.title{
    font-size: 12px;
    color: $color-accent;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #888888;

    &::before {
        content: '// '; 
        color: #ffffff;       
      }

}

.subtitle{
    font-size: 22px;   
    color: #ffffff;
    font-weight: 700;
    margin: 0;

    span{
        color: $color-accent;
        font-weight: 800;
    }    

}

.paragraph{
    color: #888888;
    font-size: 16px; 
    line-height: 140%;
    margin-bottom: 3px;

    span{
        color: $color-accent;
        font-weight: 600;
    }
}

.timer{
    color: white;
    font-size: 56px;
    font-weight: 800;
    background-color: $color-accent;
    border-radius: 7px;
    width: max-content;
    margin: auto;
    padding: 10px 30px;
    box-shadow: 0 0 8px #aaaaaa;

    span{
        color:#181818;
        font-size: 20px;
    }

}


@media screen  and (max-width:1000px){
    .container{
        width: 500px;

        
    }
    
    .img-style-one{
        width: 120px;
        left: -150px;
    
    
    }
    .img-style-two{      
        width: 100px;
        right: -140px;
    
    }
    
    .title{
        font-size: 10px;       
    
    }
    
    .subtitle{
        font-size: 18px;   
    
    }
    
    .paragraph{
        font-size: 14px; 

    }
    
    .timer{
        
        font-size: 50px;

        span{
            font-size: 18px;
        }
    
    }
}

@media screen  and (max-width:800px){
    .img-style-one{
        width: 80px;
        left: -90px;
    
    
    }
    .img-style-two{      
        width: 60px;
        right: -70px;
    
    }
}

@media screen  and (max-width:700px){
    .container{
        width: 400px;
        
    }
    
    .img-style-one{
        display: none;
    
    }
    .img-style-two{      
        display: none;
    
    }
    
    .title{
        font-size: 8px;       
    
    }
    
    .subtitle{
        font-size: 14px;   
    
    }
    
    .paragraph{
        font-size: 10px; 

    }
    
    .timer{
        padding: 10px 15px;
        font-size: 38px;

        span{
            font-size: 12px;
        }
    
    }
}


@media screen  and (max-width:450px){
    .container{
        width: 90vw;
    }

    .timer{
        padding: 10px 15px;
        font-size: 34px;

        span{
            font-size: 10px;
        }
    
    }
}