@import '/src/variables.module.scss';

.header{
    width: 100%;    
    background-color: $color-main;
}


.menu{
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;   
    height: 65px;
    padding: 25px 0;
    transition: 0.5s;    
    
}

.container{    
    display: flex;
    justify-content: space-between;    
    width: 80%;
    margin: auto;
    
}

.active{
    position: fixed;
    background-color: rgba(14, 14, 14, 0.99);
    border-bottom: 0px solid #cccccc;
    padding: 12px 0;
    box-shadow: 0 0 5px #353535;
    
    
}