@import '/src/variables.module.scss';

.scheme-of-work{   
    padding: 10px;
}

.title{
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    margin: 5px auto 15px;
    text-transform: uppercase;
    letter-spacing: 1px;   

    &::before {
        content: '// '; 
        color: $color-accent;     
      }
}

.container{
    display: flex;
    justify-content: center;
    
}

.arrow{
    display: flex;
    align-items: center;    
    img{
        width: 70px;        
    }
}

.item{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border: 2px solid $color-accent;  
    box-shadow: 0 0 10px $color-accent; 

}

.item-icon{
    background-color: rgba(0, 0, 0, 0.4);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $color-accent; 
    box-shadow: 0 0 10px $color-accent; 

    img{
        width: 60px;
    }

}

.item-title{
    text-align: center;
    font-size: 11px;    
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;

    &::after{
        content: '\0a ';
        display: block;
        margin: auto;
        width: 60px;                
        border-bottom: 3px solid $color-accent;
        white-space: pre
    }
}


@media screen  and (max-width:800px){
    .arrow{  
        img{
            width: 50px;        
        }
    }
    
    .item{
        width: 150px;
        height: 150px;
    }
    
    .item-icon{        
        width: 50px;
        height: 50px;
           
        img{
            width: 30px;
        }
    
    }
    
    .item-title{
        font-size: 8px;    
    }

}


@media screen  and (max-width:600px){

    .title{
        font-size: 10px; 
    }

    .arrow{  
        img{
            width: 30px;        
        }
    }
    
    .item{
        width: 100px;
        height: 100px;
        padding: 5px;   
    }
    
    .item-icon{        
        width: 30px;
        height: 30px;
           
        img{
            width: 20px;
        }
    
    }
    
    .item-title{
        font-size: 6px;   

        &::after{
            display: none;
        }
    }

}