@import '/src/variables.module.scss';

.our-statistics{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;

}

.our-statistics-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 0 20px;  
    padding: 20px 10px;
    border: 2px solid $color-accent;  
    box-shadow: 0 0 10px $color-accent; 
    border-radius: 70px 5px 70px 5px;
    background-color: rgba(0, 0, 0, 0.7);
}

.item-value{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 26px;    
    font-weight: 700;
    border: 2px solid $color-accent; 
    box-shadow: 0 0 10px $color-accent; 
    text-shadow: 0 0 5px $color-accent; 

}

.item-title{
    text-align: center;
    font-size: 14px;    
    font-weight: 700;
    text-transform: uppercase;
    margin: 14px 0 0 0;
    color: #ffffff;
    text-shadow: 0 0 4px $color-accent;

    &::after{
        content: '\0a ';
        display: block;
        margin: auto;
        width: 60px;                
        border-bottom: 3px solid $color-accent;
        white-space: pre
    }
}


@media screen  and (max-width:1000px){
    .our-statistics-item{        
        width: 150px;  
    }
    
    .item-value{       
        width: 60px;
        height: 60px;        
        font-size: 18px;    
    }
    
    .item-title{        
        font-size: 12px;    
    }
}

@media screen  and (max-width:800px){
    .our-statistics-item{        
        width: 120px;
        border-radius: 50px 5px 50px 5px;
        margin: 0 10px;  

    }
    
    .item-value{       
        width: 45px;
        height: 45px;        
        font-size: 13px;    

    }
    
    .item-title{        
        font-size: 9px;               
    }
}

@media screen  and (max-width:600px){
    .our-statistics{
        width: max-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 10px;
        margin: auto;
    }
}