@import '/src/variables.module.scss';

.our-advantages{
    background-color: $color-main;
    padding: 50px 0;
    scroll-margin-top: 65px;
}

.container{
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 20px 40px;    
    border-radius: 40px;
    background-color: $color-dark;
    box-shadow: 0px 0px 30px rgba(173, 173, 173, 0.4);
}

.title{
    font-size: 14px;
    color: $color-accent;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #888888;

    &::before {
        content: '// '; 
        color: #ffffff;       
      }

    


}

.subtitle{
    font-size: 30px;   
    color: #ffffff;
    font-weight: 700;
    margin: 0;  

}

.paragraph{
    color: #888888;
    font-size: 16px; 
    line-height: 140%;

    span{
        color: $color-accent;
        font-weight: 600;
    }
}


.content-nav{  
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 20px;
}

.button{
    background-color: #202020;
    border: 1px solid #dadada;
    border-radius: 10px;
    color: #ffffff;
    text-shadow: 0px 0px 8px #000000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;    
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 0 20px;
    box-shadow: 0 0 10px 0px #aaaaaa;

    &:hover{
        transform: translateY(-5px);

        &::after{           
            width: 100px;           
        }
    }

    img{
        width: 60px;
        border-radius: 50%;
        transition: 0.4s;
        margin-bottom: 10px;
        filter: drop-shadow(3px 5px 8px #696969);
    }

    &::after{
        content: '';
        display: block;
        width: 0px;
        height: 3px;
        border-radius: 50px;
        background-color: $color-accent;
        margin-top: 10px;
        transition: 0.4s;
     
    }
}

.button-active{    
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 0 4px 0px $color-accent;
    border: 2px solid $color-accent;
    background-color: $color-accent;
    text-shadow: 0 0 8px #ffffff;

    img{
        filter: drop-shadow(3px 5px 8px #eeeeee);
        width: 75px;
    }
    &:hover{
        box-shadow: 0 0 4px 0px $color-accent;
       
    }

}

.content-description{ 
    border: 1px solid #dadada;
    box-shadow: 0 0 10px 0px #aaaaaa;
    border-radius: 150px 10px 150px 10px;
    padding: 10px;
    width: 850px;
    margin: 30px auto ;
    color: #ffffff;

}

.description-container{
    height: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    
    .description-paragraph{
        text-align: center;
        font-size: 20px;
        font-weight: 500;

        &::after{
            content: '\0a ';
            display: block;
            margin: auto;
            width: 150px;                
            border-bottom: 3px solid $color-accent;
            white-space: pre;
        }
    }
   
    img{
        width: 80px;
        height: 80px;
        background-color: $color-accent;
        border-radius: 50%;
        padding: 15px;
        
    }   
    
}

@media screen  and (max-width: 1665px){
    .container{
        width: 70%;

    }
}

@media screen  and (max-width: 1465px){
    .container{
        width: 80%;

    }
}

@media screen  and (max-width: 1265px){
    .container{
        width: 90%;

    }
}

@media screen  and (max-width: 1125px){
    .title{
        font-size: 12px;
    
    }
    
    .subtitle{
        font-size: 24px;   
   
    }
    
    .paragraph{
        font-size: 14px; 


    }  
    
    .button{        
        font-size: 12px;   
        width: 130px;
        height: 130px;
 
    
        &:hover{    
            &::after{           
                width: 85px;           
            }
        }
    
        img{
            width: 40px;          

        }    

    }
    
    .button-active{       
        img{
            width: 60px;
        }

    
    }
    
    .content-description{       
        width: 90%;    
    }
    
    .description-container{
        
        .description-paragraph{
            font-size: 16px;
    
        }
       
        img{
            width: 70px;
            height: 70px;
            
        }   
}


}

@media screen  and (max-width: 900px){

    .title{
        font-size: 10px;
    
    }
    
    .subtitle{
        font-size: 18px;   
   
    }
    
    .paragraph{
        font-size: 12px; 


    }  
    

    
    .button{        
        font-size: 9px;   
        width: 100px;
        height: 100px;
        letter-spacing: 0px;
    
        &:hover{    
            &::after{           
                width: 65px;  
                height: 2px;         
            }
        }
    
        img{
            width: 30px;          

        }    

    }
    
    .button-active{       
        img{
            width: 50px;
        }

    
    }
    
    .content-description{
        border-radius: 120px 10px 120px 10px;
    }
    
    .description-container{

        .description-paragraph{
            font-size: 14px;
    
        }
       
        img{
            width: 60px;
            height: 60px;
            
        }   
    }


}

@media screen  and (max-width: 780px){
    .our-advantages{
        padding: 20px;

    }
    .container{
        width: 100%;
    }

    .content-nav{  
        width: max-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        justify-items: center;
        margin: auto;
    }
    .button{       
        margin: 0 ;
    }

    .button-active{
        transform: translateY(0px);
    }

    .content-description{
        border-radius: 100px 10px 100px 10px;
        width: 100%;
        margin-bottom: 20px;
    }
    .description-container{
        padding: 10px;

        .description-paragraph{
            font-size: 12px;

            &::after{
                width: 80px;               
       
            }    
        }
    }
}